@model List<Application>

@{
    ViewBag.Title = "All Applications";
    int count = 0;
}

<center>
    <div class="card" style="margin-top: 2em; padding: 1em;">
      <h2 class="btn btn-success col-md-3">All Application(s)</h2>
        <table class="table table-striped dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Company Name</th>
                <th>Reference</th>
                <th>Product Type</th>
                <td>Status</td>
                <td>Date Applied</td>
                <td> </td>
            </tr>
            </thead>
            <tbody>
                @foreach (var app in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@app.User.Company.Name</td>
                        <td>@app.Reference</td>
                        <td>@app.Product.Name</td>
                        <td>@app.Status</td>
                        <td>@app.Date</td>
                        <td>
                            <a href="/Application/ApplicationDetail/@app.Id" class="btn btn-sm btn-info">View</a>
                            @if (!User.IsInRole("Company") || !User.IsInRole("Admin") || !User.IsInRole("Staff"))
                            {
                                <a href="/Application/License/@app.Id?type=print" target="_blank" class="btn btn-sm btn-warning">Preview Approval</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</center>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('.dataTable').DataTable();
    });
</script>
