@model List<Message>

@{
    ViewBag.Title = "My Messages";
    int count = 0;
}

<center>
    <div class="card " style="margin-top: 2em; padding: 1em;">
        <h2 class="alert alert-primary col-md-3">@ViewBag.Title</h2>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Subject</td>
                    <td>Status</td>
                    <td>Date</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var message in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@message.Subject</td>
                        <td>@if (message.IsRead)
                            {
                                <span>Read</span>
                            }
                            else
                            {
                                <span>Unread</span>
                            }
                        </td>
                        <td>@message.Date.ToLongDateString()</td>
                        <td>
                            <a 
                                href="#" 
                                class="btn btn-sm btn-warning msgmodal"
                                data-toggle="modal"
                                data-id="@message.Id"
                                data-target="#msgModal" 
                                data-title="@message.Subject" 
                                data-message="@message.Content"
                                id="msgmodal"
                                aria-expanded="False" class="msgmodal"
                                @message.Subject
                            >View Content</a>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</center>
<div class="modal" role="dialog" tabindex="-1" id="msgModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function (){
        $(".msgmodal").click(function (e){
            e.preventDefault();
            var msg = $(this).data('message');
            $("#modalBody").html(msg);
            $("#modalTitle").html($(this).data('title'));
            $("#msgModal").show();
            
            $.get('/Application/ReadMessage/' + $(this).data('id'));
        });
    });
</script>