@model Permit

@{
    Layout = null;
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style type="text/css">
        body {
            width: 21cm;
            margin: 3cm 4.5cm 0cm 4.5cm;
        }
    </style>
</head>
<body style="font-size: 1.2em; font-family: Candara;">

    <div style="display:block; position:absolute; top: 3.5cm;  right: 2.0cm;"> @Model.PermitNumber </div>

    <div style="width: 100%; border-spacing: 0;">

        <div style="position: absolute; top:10.3cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px  4.8cm;">
            @Model.Application.User.Company.Name
        </div>

        <div style="position: absolute; top:11.8cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;">
            @Model.Application.User.Company.RegisteredAddress
        </div>
        
        <div style="position: absolute; top:13.2cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 9cm;">
            @Model.Application.Product.Name
        </div>

        <div style="position: absolute; top:14.5cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 2.7cm;">
            @if (Model.Application.ApplicationTypeId == 3)
            {
                <span>  @Model.Application.Quantity.ToString("#,##0") @Model.Application.GasStream (Supplementary)</span>
            }
            else
            {
                <span>  @Model.Application.Quantity.ToString("#,##0") @Model.Application.GasStream </span>
            }
        </div>


        <div style="position: absolute; top:16.0cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 10.0cm;">
            <span>USD</span> @Model.Application.ProductAmount.ToString("N2")
        </div>
        <div style="position: absolute; top:17.3cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;">
            @if (Model.Application.QuarterId == 1)
            {
                <span>JAN-MAR @Model.Application.Year</span>
            }
            else if (Model.Application.QuarterId == 2)
            {
                <span>APR-JUN @Model.Application.Year</span>
            }
            else if (Model.Application.QuarterId == 3)
            {
                <span>JUL-SEP @Model.Application.Year</span>
            }
            else if (Model.Application.QuarterId == 4)
            {
                <span>OCT-DEC @Model.Application.Year </span>
            }
        </div>
        <div style="position: absolute; top:18.5cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;">
            @Model.Application.Terminal.Name
        </div>
        <div style="position:absolute; top:24.0cm; padding-left:380px; height: 80px;">
            <img style="width:160px;" src="@Model.Application.User.Company.DirectorSignature" alt="CEO Signature" />
        </div>
        <div style="position: absolute; top:30.4cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 0;">
            @Model.Application.Quantity.ToString("#,##0") @Model.Application.GasStream
        </div>
        <div style="position: absolute; top:31.8cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 0;">
            @if (Model.Application.QuarterId == 1)
            {
                <span>JAN-MAR @Model.Application.Year</span>
            }
            else if (Model.Application.QuarterId == 2)
            {
                <span>APR-JUN @Model.Application.Year</span>

            }
            else if (Model.Application.QuarterId == 3)
            {
                <span>JUL-SEP @Model.Application.Year</span>

            }
            else if (Model.Application.QuarterId == 4)
            {
                <span>OCT-DEC @Model.Application.Year</span>
            }
        </div>

        <div style="position: absolute; top:33.2cm; right: 1.7cm; width:8cm; text-align:center; font-weight: 300; border-top:  0px  #888;">
            <div style="position: relative; height: 110px;">
                <img style="margin-left:-30px" src="~/Images/DirectorSignature.png" width="240" alt="Director/CEO's Signature" />
            </div>
            
            <div style="height: 15px; font-size: 1.2em; text-align: center; margin-bottom: 0; width: 390px; right: 0; position: absolute; bottom: 0;">
                DIRECTOR/CEO, DEPARTMENT OF PETROLEUM RESOURCES
            </div>
        </div>
    </div>
</body>
</html>
