@inject IAppConfiguration<Configuration> _appConfiguration
@{
    ViewData["Title"] = "Home Page";
    
    string VerifyPermitLink = _appConfiguration.GetElpsUrl() + "/Permit/VerifyPermit?appId=" + _appConfiguration.GetAppId();
    string ResendEmailActivationLink = _appConfiguration.GetElpsUrl() + "/Account/ResendEmailActivation?appId=" + _appConfiguration.GetAppId();

    string AccountLoginLink = _appConfiguration.GetElpsUrl() + "/Account/Login?appId=" + _appConfiguration.GetAppId();
    string AccountRegisterLink = _appConfiguration.GetElpsUrl() + "/Account/Register?appId=" + _appConfiguration.GetAppId();
    string ForgetPasswordLink = _appConfiguration.GetElpsUrl() + "/Account/ForgotPassword?appId=" + _appConfiguration.GetAppId();
}

<div class="col-md-12">
    <div class="col-md-5 form-signin extForm">
        @if (ViewData["Message"] != null)
        {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible center-block" role="alert" id="welcomealert" align="center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <strong>@ViewData["Message"]</strong>
                </div>
            </div>
        }
        <div class="padd">
            <h1 class="form-signin-heading text-center">NUPRC</h1>
            <h4 class="txtcenter">GAS TERMINAL EXPORT PORTAL (GATEX)</h4>

            <a class=" btn btn-md btn-info btn-block textUpper buttonRadius1 round" href="/validate/">Click here to Verify Permit</a>
            <br/>
            <a href="@AccountLoginLink" class=" btn btn-md btn-success btn-block textUpper buttonRadius1 round">LOGIN</a>
            <br/>
            <a href="@AccountRegisterLink" class=" btn btn-md btn-success btn-block textUpper buttonRadius1 round">REGISTER</a>
            <br/>
            <p class="txtcenter">
                <a href="@ForgetPasswordLink" class="btn-link">Forgot Password</a>
            </p>

            <br/>
            <strong>Payment Processor:</strong>
            <br/>
            <div class="">
                <img src="@Url.Content("/Images/remita-logo.png")" alt="Remita" title="REMITA" style=""/>
            </div>
            <br/><br/>
            <strong>Payment Options:</strong>
            <br/>
            <ul class="paymentOptions">
                <li><i class="fa fa-check"></i> &nbsp; Cash Deposit</li>
                <li><i class="fa fa-check"></i> &nbsp; Bank Draft</li>
                <li><i class="fa fa-check"></i> &nbsp; Card Payment: MasterCard, Verve Card</li>
                <li><i class="fa fa-check"></i> &nbsp; Quick Teller</li>
            </ul>
        </div>
    </div>

    <div class="col-md-7 adv bg1">
        <div class="col-md-12">
            <h2 class="txtcenter">Getting Started</h2>
        </div>
        <div class="howto">
            <div class="col-md-5">
                <div class="icon">
                    <img src="~/Images/icon-lg1.png" />
                </div>
            </div>
            <div class="col-md-7">
                <h3>User Guide</h3>
                <a href="#" target="_blank" class="white">Online Application Guide</a><br />
                <a href="@AccountLoginLink" class="white">Resend Activation Email</a><br />
                <a href="/validate/" class="white">Verify a Permit</a><br />
                <a href="#" class="white">FAQ</a><br />
            </div>
        </div>
        <br class="clear" /><br />
        <div class="howto">
            <div class="col-md-5">
                <div class="icon">
                    <img src="~/Images/icon-lg2.png" />
                </div>
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="@AccountRegisterLink" class="white">Company Account Creation</a>
                </h3>
                <p>
                    Create account to use resources on this portal. Note that Account creation
                    is not required to validate a permit.
                </p>
            </div>
        </div>
        <br class="clear" /><br />
        <div class="howto">
            <div class="col-md-5">
                <div class="icon">
                    <img src="~/Images/icon-lg3.png" />
                </div>
            </div>
            <div class="col-md-7">
                <h3><a href="/" class="white">Manage Approvals</a></h3>
                <p>Login to apply for a new Application Form, renew or manage your approvals</p>
            </div>
        </div>
        <div class="clear"><br /><br /></div>

    </div>
</div>