@model Permit

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style type="text/css">
        body {
            width: 21cm;
            height: 31.7cm;
            margin: 3cm 4.5cm 3cm 4.5cm;
        }
    </style>
</head>
<body style="font-size: 1.2em; ">

    <div style="display:block; position:absolute; top: 3.5cm;  right: 1.7cm;"> @Model.PermitNumber </div>

    <div style="width: 100%; border-spacing: 0; font-size: 26px;">

        <div style="position: absolute; top:11.0cm; font-size: 0.7em;  font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px  4.8cm;" id="coynameLine1">
            @Model.Application.User.Company.Name
        </div>

        <div style="position: absolute; top:12.5cm;font-size: 0.8em; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;" id="coynameLine1">
            @Model.Application.User.Company.RegisteredAddress
        </div>
        
        <div style="position: absolute; top:14.1cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 9cm;" id="coynameLine1">
            @Model.Application.Product.Name
        </div>

        <div style="position: absolute; top:15.6cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 2.7cm;" id="coynameLine1">
            @if (Model.Application.ApplicationTypeId == 3)
            {
                <span>  @Model.Application.Quantity.ToString("#,##0") BARRELS (Supplementory)</span>
            }
            else
            {
                <span>  @Model.Application.Quantity.ToString("#,##0") BARRELS </span>
            }
        </div>


        <div style="position: absolute; top:16.9cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 10.0cm;" id="coynameLine1">
            <span>USD</span> @Model.Application.ProductAmount.ToString("N2")
        </div>



        <div style="position: absolute; top:18.5cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;" id="coynameLine1">
            @if (Model.Application.QuarterId == 1)
            {
                if (Model.Application.Date.Month > 3)
                {
                    var y = @Model.Application.Year + 1;
                    <span>JAN-MAR @y</span>
                }
                else
                {
                    <span>JAN-MAR @Model.Application.Year</span>
                    /**/
                }

            }
            else if (Model.Application.QuarterId == 2)
            {
                if (Model.Application.Date.Month > 6)
                {
                    var y = @Model.Application.Year + 1;
                    <span>APR-JUN @y</span>
                }
                else
                {
                    <span>APR-JUN @Model.Application.Year</span>
                    /**/
                }

            }
            else if (Model.Application.QuarterId == 3)
            {
                if (Model.Application.Date.Month > 9)
                {
                    var y = @Model.Application.Year + 1;
                    <span>JUL-SEP @y</span>
                }
                else
                {
                    <span>JUL-SEP @Model.Application.Year</span>
                    /**/
                }

            }
            else if (Model.Application.QuarterId == 4)
            {
                <span>OCT-DEC @Model.Application.Year </span>
            }
        </div>


        <div style="position: absolute; top:19.9cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 4.8cm;" id="coynameLine1">
            @Model.Application.Terminal.Name
        </div>

        <div style="position: absolute; top:32.5cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 0;" id="coynameLine1">
            @Model.Application.Quantity.ToString("#,##0") BARRELS
        </div>
        <div style="position: absolute; top:34.0cm; font-weight: 300; border-bottom: 2px  #888;padding: 5px 10px 10px 0;" id="coynameLine1">
            @if (Model.Application.QuarterId == 1)
            {
                if (Model.Application.Date.Month > 3)
                {
                    var y = @Model.Application.Year + 1;
                    <span>JAN-MAR @y</span>
                }
                else
                {
                    <span>JAN-MAR @Model.Application.Year</span>
                    /**/
                }

            }
            else if (Model.Application.QuarterId == 2)
            {
                if (Model.Application.Date.Month > 6)
                {
                    var y = @Model.Application.Year + 1;
                    <span>APR-JUN @y</span>
                }
                else
                {
                    <span>APR-JUN @Model.Application.Year</span>
                    /**/
                }

            }
            else if (Model.Application.QuarterId == 3)
            {
                if (Model.Application.Date.Month > 9)
                {
                    var y = @Model.Application.Year + 1;
                    <span>JUL-SEP @y</span>
                }
                else
                {
                    <span>JUL-SEP @Model.Application.Year</span>
                }

            }
            else if (Model.Application.QuarterId == 4)
            {
                <span>OCT-DEC @Model.Application.Year </span>
            }
        </div>

        <div style="position: absolute; top:35.5cm; right: 1.7cm; font-size:0.6em; width:8cm; text-align:center; font-weight: 300; border-top:  0px  #888;">
            A. R. SHAKUR <br />
            DIRECTOR PETROLEUM RESOURCES

        </div>
    </div>
</body>
</html>
