@model List<Application>
@inject IAppHistory<ApplicationHistory> _appHistory

@{
    ViewBag.Title = "Company Applications";
    int counter = 0; 
}
<div class="card">
    <div style=" background-color: green; color: yellow; padding: 1em;"><h2>My Application(s)</h2></div>
    <hr/>
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-info alert-dismissable txtcenter">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            @ViewData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                
        </div>
    }
    <table class="table table-striped dataTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Application</th>
            <th>
                Reference
            </th>
            <th>Status</th>
            <th>Date Applied</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            string alertx, alertd = string.Empty;
            if (item.Status.ToLower() == "approved" || item.Status.ToLower() == "completed") { alertx = "alert-success"; }
            else if (item.Status.ToLower() == "processing" || item.Status.ToLower() == "payment completed" || item.Status.ToLower() == "payment confirmed") { alertx = "alert-info"; }
            else if (item.Status.ToLower() == "pending" || item.Status.ToLower() == "payment pending") { alertx = "alert-warning"; }
            else { alertx = "alert-danger"; }
        
            var startDate = item.Date;
            var ExpDate = startDate.AddYears(1);
            var check = ExpDate.AddDays(-30);
            var now = DateTime.Now;
        
            if (check <= now)
            {
                alertd = "alert-danger";
            }
            counter++;
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @item.ApplicationType.FullName for @item.Quarter.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
        
                <td>
                    <div class="alert alert-mini @alertx">
                        @if(item.Status== "Payment Pending") { 
                            <strong>Payment Confirmation Pending</strong>
                        }
                        else
                        {
                            <strong>@Html.DisplayFor(model => item.Status)</strong>
                        }
                    </div>
                </td>
                <td>
                    @item.Date.ToLongDateString()
                </td>
        
                <td class="txtright">
                    @if (item.Status == ApplicationStatus.PaymentNotSatisfied || item.Status == ApplicationStatus.NotSubmitted)
                    {
                        <div class="btn-group">
                            <a 
                                href="/Application/UploadApplicationDocuments/@item.Id"
                                class=" btn btn-xs btn-success"
                                >Continue <i class=" glyphicon glyphicon-credit-card"></i></a>
                            <a 
                                href="#"
                                id="#"
                                data-id="@item.Id"
                                data-quantity="@item.Quantity"
                                data-apptype="@item.ApplicationType.Name"
                                data-quarter="@item.Quarter.Name"
                                data-product="@item.Product.Name"
                                data-terminal="@item.Terminal.Name"
                                data-amount="@item.ProductAmount"
                                data-toggle="modal"
                                data-target="#UpdateModal"
                                class="btn btn-xs btn-primary btnUpdate"
                                >Update <i class="glyphicon glyphicon-edit"></i></a>
                            <a href="/Application/Delete/@item.Id" class="btn btn-xs btn-danger "> Remove <i class="glyphicon glyphicon-remove"></i></a>
                            
                        </div>
                    }
                    else if (item.Status == ApplicationStatus.PaymentPending)
                    {
                        <div class="btn-group">
                            <a 
                                href="#"
                                id="UpdateApplication"
                                data-id="@item.Id"
                                data-quantity="@item.Quantity"
                                data-apptype="@item.ApplicationType.Name"
                                data-quarter="@item.Quarter.Name"
                                data-product="@item.Product.Name"
                                data-terminal="@item.Terminal.Name"
                                data-amount="@item.ProductAmount"
                                data-toggle="modal"
                                data-target="#UpdateModal"
                                class="btn btn-xs btn-primary btnUpdate"
                            >Update <i class="glyphicon glyphicon-edit"></i></a>
                            <a href="/Application/ViewHistory/@item.Id" class="btn btn-xs btn-warning "> View History <i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    }
                    else if (item.Status == ApplicationStatus.Rejected)
                    {
                        <div class="btn-group">
        
                            <a href="/Application/UploadApplicationDocuments/@item.Id" class="btn btn-xs btn-warning ">Resubmit <i class="glyphicon glyphicon-folder-open"></i></a>
                            &nbsp;|&nbsp;
                            <a 
                                href="#" 
                                class="btn btn-danger btn-xs btnRejectComment"
                                data-target="#RejectModal" 
                                data-comment="@GetRejectionComment(item.Id)"
                                data-toggle="modal">See Why</a>
                            <a 
                                href="#"
                                id="#"
                                data-id="@item.Id"
                                data-quantity="@item.Quantity"
                                data-apptype="@item.ApplicationType.Name"
                                data-quarter="@item.Quarter.Name"
                                data-product="@item.Product.Name"
                                data-terminal="@item.Terminal.Name"
                                data-amount="@item.ProductAmount"
                                data-toggle="modal"
                                data-target="#UpdateModal"
                                class="btn btn-xs btn-primary btnUpdate"
                            >Update <i class="glyphicon glyphicon-edit"></i></a>
                        </div>
                    }
        
                    else
                    {
                        <a href="/Application/ApplicationDetail/@item.Id" class="btn btn-xs btn-info ">View <i class="glyphicon glyphicon-eye-open"></i></a>
        
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="modal" role="dialog" tabindex="-1" id="UpdateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Application Update</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-height: 280px;">
                <form action="/Application/UpdateApplication" method="post" enctype="multipart/form-data" id="formUpdate">
                    <input type="hidden" name="Id" id="Id"/>
                    <div class="form-group">
                        <label style="float:left">Application Type</label>
                        <input type="text" class="form-control" id="ApplicationType" name="ApplicationType" readonly/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Quarter Registration</label>
                        <input type="text" class="form-control" id="Quarter" name="Quarter" readonly/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Product Type</label>
                        <input type="text" class="form-control" id="Product" name="Product" readonly/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Terminal (Port of Export)</label>
                        <input type="text" class="form-control" id="Terminal" name="Terminal" readonly/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Quantity</label>
                        <input type="text" class="form-control" id="Quantity" name="Quantity"/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Equivalent Value ($)</label>
                        <input type="text" class="form-control" id="Amount" name="Amount"/>
                    </div>
                
                    <div class="form-group">
                        <div class="modal-footer">
                            <input type="submit" value="Update" class="btn btn-primary" name="Submit" id="UpdateBtn" />
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    
                    </div>
                
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" tabindex="-2" id="RejectModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Reason for application rejection</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-height: 280px;">
            </div>
        </div>
    </div>
</div>

@functions{

    private string GetRejectionComment(int id) 
        => _appHistory.GetApplicationHistoriesById(id).OrderByDescending(x => x.Id).FirstOrDefault()?.Comment;
}
@section scripts{
    @*<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.dataTables.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#lnkApplication").addClass("active");

            $('.dataTable').DataTable({
                "order": [[5, "desc"]]
            });
        });
        $(document).ready(function (){
            $(".btnUpdate").click(function (e){
                e.preventDefault();
                $("#ApplicationType").val($(this).data('apptype'));
                $("#Id").val($(this).data('id'));
                $("#Quarter").val($(this).data('quarter'));
                $("#Product").val($(this).data('product'));
                $("#Terminal").val($(this).data('terminal'));
                $("#Quantity").val($(this).data('quantity'));
                $("#Amount").val($(this).data('amount'));
            });
            
            $("#UpdateBtn").click(function (e){
                e.preventDefault();
                $("#formUpdate").submit();
            });
            
            $(".btnRejectComment").one('click', function (e){
                $("#RejectModal").$(".modal-body").html($(this).data("comment"));
            });
        });
    </script>
}
