@inject UserManager<ApplicationUser> _userManager
@model List<ApplicationUser>
@inject IApplication<Application> _application
@inject IElpsRepository _elps

@{
    ViewBag.Title = "All Users";
    int count = 0;
    string status = "";
}
@if (ViewData["Message"] != null)
{
    <div class="col-md-12">
        <div class="alert @ViewData["alert"] alert-dismissible center-block" role="alert" id="welcomealert" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
            <strong>@ViewBag.Message</strong>
        </div>
    </div>
}
<center>
    <div class=" card" style="margin-top: 2em; padding: 1em;">
        <h2 class="card btn btn-info" style="font-size: x-large;">
            <b>List of all Users</b>
        </h2>
        <hr/>
        @if (User.IsInRole("ICT") || User.IsInRole("Admin"))
        {
            <a data-toggle="modal" href="#" id="AddStaff" data-target="#AddModal">
                <i class="fa fa-user btn btn-success AddStaff" style="font-size: large;">
                    Add Staff
                </i>
            </a>
        }
        <table class="table table-striped dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Application(s) on Desk</th>
                <th>User Role</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                count++;
                var apps = GetDeskCount(user.Email);
                <tr>
                    <td>@count</td>
                    <td>@user.LastName @user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@GetDeskCount(user.Email)</td>
                    <td>
                        @GetUserRole(user.Email)
                    </td>
                    <td>
                        @if (user.IsActive)
                        {
                            <label style="height: 15px; padding-top: 0; margin-top: 5px; background-color: #1A531B; color: white" class=" btn btn-success btn-xs">Enabled&nbsp;<i class="fa fa-check"></i></label>
                            
                        }
                        else
                        {
                            <label style="height: 15px; padding-top: 0; margin-top: 5px; background-color: #8a1f11; color: white" class="btn btn-xs">Disabled &nbsp;<i class="fa fa-minus"></i></label>
                           
                        }
                    </td>
                    <td>
                        <a href="#" 
                           id="EditUser" 
                           data-target="#EditModal"
                           data-toggle="modal" 
                           class="btn btn-sm btn-primary mybtn"
                           data-email = "@user.Email"
                          data-status = "@user.IsActive"
                          data-fname = "@user.FirstName"
                          data-lname = "@user.LastName"
                          data-pnumber = "@user.PhoneNumber"
                           data-userrole = "@GetUserRole(user.Email)"
                        >Edit</a>
                        @if (GetUserRole(user.Email) != null && !GetUserRole(user.Email).Equals("Company", StringComparison.OrdinalIgnoreCase))
                        {
                            if(apps > 0)
                            {
                                <a href="#" 
                                   id="ReliefStaff" 
                                   data-target="#ReliefModal"
                                   data-toggle="modal" 
                                   class="btn btn-sm btn-warning refbtn"
                                   data-email = "@user.Email"
                                   data-status = "@user.IsActive"
                                   data-fname = "@user.FirstName"
                                   data-lname = "@user.LastName"
                                   data-pnumber = "@user.PhoneNumber"
                                   data-appcount = "@apps"
                                >Relief</a>
                            }
                            <a href="#" 
                               id="DeleteUser" 
                               data-target="#DeleteModal"
                               data-toggle="modal" 
                               class="btn btn-sm btn-danger mydelbtn"
                               data-email = "@user.Email"
                              data-status = "@user.IsActive"
                              data-fname = "@user.FirstName"
                              data-lname = "@user.LastName"
                              data-pnumber = "@user.PhoneNumber"
                            >Delete</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</center>
<div class="modal" role="dialog" tabindex="-1" id="EditModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title btn btn-primary">Edit User</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <form action="/Staff/Edit" method="post" enctype="multipart/form-data" id="formEdit">
                    <div class="form-group">
                        <label style="float:left">First Name</label>
                        <input type="text" class="form-control" id="fname" name="FirstName" readonly />
                    </div>
                    <div class="form-group">
                        <label style="float:left">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="LastName" readonly />
                    </div>
                    <div class="form-group">
                        <label style="float:left">Email</label>
                        <input type="text" class="form-control" id="email" name="Email" readonly />
                    </div>
                    <div class="form-group">
                        <label style="float:left">Phone Contact</label>
                        <input type="text" class="form-control" id="pnumber" name="PhoneNumber" readonly />
                    </div>
                    <div class="form-group">
                        <label style="float:left">Status</label>
                        <select name="IsActive" class="form-control" id="status">
                        </select>
                    </div>
                    <div CLASS="form-group">
                        <label style="float:left">Role</label>
                        <select name="Role" class="form-control" id="role">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Update" class="btn btn-danger" name="Submit" id="EditBtn" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" tabindex="-2" id="ReliefModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title btn btn-primary">Staff Application(s)</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <form action="/Staff/Relief" method="post" enctype="multipart/form-data" id="formRelief">
                    <div class="form-group">
                        <label style="float:left">Staff Email</label>
                        <input type="text" class="form-control" id="oldstaffemail" name="OldStaffEmail" readonly required ="required" />
                    </div>
                    <div class="form-group">
                        <label style="float:left">Staff List</label>
                        <select name="NewStaff" class="form-control search" id="newstaff" required ="required">
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="float:left">No of Application(s)</label>
                        <select class="form-control" id="AppNumber" name="AppNumber" required ="required">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Re-assign Applications" class="btn btn-danger" name="Submit" id="ReliefBtn" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" tabindex="-4" id="DeleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title btn btn-primary">Delete Staff</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Staff/Delete" method="post" enctype="multipart/form-data" id="formDelete">
                    <div class="form-group">
                        <input type="hidden" class="form-control"  id="delstaffemail" name="email" value="" />
                    </div>
                    <div class="form-group">
                        <p id="deleteMsg" class="p-20"></p>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Delete" class="btn btn-danger" name="Submit" id="DelBtn" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" tabindex="-3" id="AddModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title btn btn-primary">Add New Staff</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Staff/Create" method="post" enctype="multipart/form-data" id="formCreate">
                    <div class="row">
                        <div class="input-group col-md-3">
                            <div class="input-group-addon"><i class="icon-list"></i></div>
                            <select class="form-control staffname" id="staffname" name="staffname" style="width: 415px !important;" multiple>
                                @foreach (var staff in GetStaffElps())
                                {
                                    <option value="@staff.Email">@staff.LastName @staff.FirstName (@staff.Email)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label style="float:left">First Name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" required/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" required/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" required/>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Phone Number</label>
                        <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" required/>
                    </div>

                    <div class="form-group">
                        <label style="float:left">User Role</label>
                        <select name="Role" class="form-control search" id="Role" required>

                        </select>
                    </div>
                    <div class="form-group">
                        <label style="float:left">Status</label>
                        <select class="form-control" id="Status" style="height: 40px !important;" name="IsActive" required>
                            <option value="true">Enable</option>
                            <option value="false">Disbale</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create Staff" class="btn btn-success" name="Submit" id="CreateBtn" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@functions{
    
    private List<Staff> GetStaffElps() => _elps.GetAllStaff();

    private string GetUserRole(string email)
    {
        var user = _userManager.FindByEmailAsync(email).Result;
        return _userManager.GetRolesAsync(user).Result.FirstOrDefault();
    }

    private int GetDeskCount(string email) => _application.GetAll().Count(x => x.LastAssignedUserId == email);

    private List<ApplicationUser> GetStaffRoleList(string email)
    {
        var role = GetUserRole(email);
        return _userManager.GetUsersInRoleAsync(role).Result.ToList();
    }

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link rel="stylesheet" href="~/Content/select2.min.css"/>
<script>
    $(document).ready(function (){
        
        $('.dataTable').DataTable({ dom: 'Blfrtip' });
        
         $('.staffname').select2({
            placeholder : 'Search for staff by name or email'
         });
         
        // $(".mybtn").click(function (e){
        //     $("#role").html('');
        //     $("#status").html('');
        //     //let button = $(e.target) 
        //     let userrole = $(this).data('userrole');
        //     let userstatus = $(this).data('status');
        //     if (userstatus !== "False"){
        //         $("#status").append('<option value="false">Inactive</option>');
        //         $("#status").append('<option value="true" selected>Active</option>');
        //     }
        //     else{
        //         $("#status").append('<option value="false" selected>Inactive</option>');
        //         $("#status").append('<option value="true" >Active</option>')
        //     }
        //     $.get('/Staff/GetRoles', function (data){
        //         $.each(data.roles, function (key, value){
        //             if (userrole === value){
        //                 $("#role").append('<option value=' + value + ' selected>' + value + '</option>');
        //             }
        //             else{
        //                 $("#role").append('<option value=' + value + '>' + value + '</option>')
        //             }
        //         });
        //     });
        //     $("#fname").val($(this).data('fname'));
        //     $("#lname").val($(this).data('lname'));
        //     $("#pnumber").val($(this).data('pnumber'));
        //      $("#email").val($(this).data('email'));
        //     $("#EditModal").show();
        // });
        $(document.body).on("click", '.mybtn', function (e){
            $("#role").html('');
            $("#status").html('');
            $(".location").html('');
            
            $("#fname").val($(this).data('fname'));
            $("#lname").val($(this).data('lname'));
            $(".pnumber").val($(this).data('pnumber'));
            $("#email").val($(this).data('email'));

            let userrole = $(this).data('userrole');
            let userstatus = $(this).data('status');
            let fieldId = $(this).data('location');
            
            if (userstatus !== "False"){
                $("#status").append('<option value="false">Inactive</option>');
                $("#status").append('<option value="true" selected>Active</option>');
            }
            else{
                $("#status").append('<option value="false" selected>Inactive</option>');
                $("#status").append('<option value="true" >Active</option>')
            }
            $.get('/Staff/GetRoles', function (data){
                $.each(data.roles, function (key, value){
                    if (userrole === value.split('|')[0]){
                        $("#role").append('<option value=' + value.split('|')[0] + ' selected>' + value.split('|')[0] + '</option>');
                    }
                    else{
                        $("#role").append('<option value=' + value.split('|')[0] + '>' + value.split('|')[0] + '</option>')
                    }
                });
            });
            $.get('/Staff/GetOffices', function (data){
                $.each(data.data, function (key, value){
                    if ( fieldId === value.id){
                        $(".location").append('<option value=' + value.id + ' selected>' + value.description + '</option>');
                    }
                    else{
                        $(".location").append('<option value=' + value.id + '>' + value.description + '</option>')
                    }
                });
            });
            $("#EditModal").show();
        });
        
        $("#EditBtn").click(function (e){
            $("#formEdit").submit();
        });
        
        $(document.body).on("click", '.refbtn', function (e){
            $("#newstaff").html('');
            $("#AppNumber").html('');
            // ("#newstaff").html('');
            let email = $(this).data('email');
            let appcount = $(this).data('appcount');
            $("#oldstaffemail").val(email);
            $.get('/Staff/GetStaffRoleList?email=' + email, function (data){
                if (data.users.length > 0){
                   $.each(data.users, function (key, val){
                        $("#newstaff").append('<option value=' + val.email + '>' + val.email + '</option>');
                   });
                }
                else{
                    alert("No staff  available to relief user.")
                }
            });
            //$("#AppNumber").append('<option value=' + 0 + '>All</option>');
            for (var i = 1; i <= appcount; i++){
                $("#AppNumber").append('<option value=' + i + '>' + i + '</option>');
            }
            $("#ReliefModal").show();
        });
        
        $("#ReliefBtn").click(function (e){
            e.preventDefault();
            $("#formRelief").submit();
        });
        
        $(".AddStaff").click(function (e){
             $.get('/Staff/GetRoles', function (data){
                 $("#Role").html('');
                 $.each(data.roles, function (key, val){
                     if (val !== "Company"){
                          $("#Role").append('<option value=' + val + '>' + val + '</option>')
                     }
                 });                 
             });
        });
        
        $("#CreateBtn").click(function (e){
             e.preventDefault();
            $("#formCreate").submit();
        });
        
         $(".mydelbtn").click(function (e){
             e.preventDefault();
             $("#deleteMsg").html('');
             $("#delstaffemail").val($(this).data('email'));
             
             $("#deleteMsg").html('Are you sure you want to delete ' + $(this).data('email'));
        });
         
        $("#DelBtn").click(function (e){
            e.preventDefault();
            $("#formDelete").submit();
        });
        
        $(document.body).on("change", '.staffname', function (e){
            $.get('/Staff/GetStaffDetail?email=' + $('.staffname').val(), function (data){
                var result = data.staff;
                if (result != null){
                    $("#FirstName").val(result.firstName);
                    $("#LastName").val(result.lastName);
                    $("#Email").val(result.email);
                    $("#PhoneNumber").val(result.phoneNo);
                }else{
                    $("#FirstName").val();
                    $("#LastName").val();
                    $("#Email").val();
                    $("#PhoneNumber").val();
                }
            });
        });
    });
</script>
