@model List<PaymentApproval>
@inject UserManager<ApplicationUser> _userManager

@{
    ViewBag.Title = "Payment Report";
    int count = 0;
}
<style>
    legend.scheduler-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }
</style>

<center>
    <div class="card" style="margin-top: 1em; padding: 1em;">
        <h2 class="alert alert-warning col-md-5"><b>List of all Approved payments</b></h2>
        <div>
            <form method="post" action="@Url.Action("PaymentReport")">
                <fieldset class="border p-2">
                    <legend  class="w-auto scheduler-border">Search Criteria</legend>
                    <div class="row" style="margin-left: 0.2em;">
                        <div class="input-group col-md-3">
                            <div class="input-group-addon"><i class="icon-calender"></i></div>
                            <input class="form-control" type="text" id="startdate" name="StartDate" placeholder="Start date"/>
                        </div>
                        &nbsp;
                        &nbsp;
                        <div class="input-group col-md-3">
                            <div class="input-group-addon"><i class="icon-calender"></i></div>
                            <input class="form-control" type="text" id="enddate" name="EndDate" placeholder="End date"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row" style="margin-left: 0.2em;">
                        <div class="form-group col-md-2">
                            <input class="form-control btn btn-info" type="submit" value="Search" /> 
                        </div>
                            
                    </div>
                </fieldset>
            </form>
    
        </div>
        <table id="example" class="table table-striped example">
            <thead>
            <tr>
                <th>#</th>
                <th>RRR</th>
                <th>Company Name</th>
                <th>Application Reference</th>
                <th>Amount paid</th>
                <th>Payment Decsription</th>
                <th>Application amount</th>
                <th>Approved by</th>
                <th>Date Approved</th>
                <th>Approval Comment</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var payment in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@payment.PaymentId</td>
                    <td>@payment.Application.User.Company.Name</td>
                    <td>@payment.Application.Reference</td>
                    <td>@payment.Application.PaymentEvidence?.Amount</td>
                    <td>@payment.Application.PaymentEvidence?.Description</td>
                    <td>@payment.Amount</td>
                    <td>
                        @payment?.ApprovedBy
                    </td>
                    
                    <td>@payment.Date.ToString("MMM dd, yyyy")</td>
                    <td>@payment.Comment</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link rel="stylesheet" href="~/Content/select2.min.css"/>

<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
<link href="~/Content/jquery-ui.css" rel="stylesheet"/>


<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css"/>
<script>
    $(document).ready(function() { 
        $(".example").dataTable({ dom: 'Blfrtip', });
        
        $("#startdate,#enddate").datepicker({
            "onSelect": function (date) {
            }, changeMonth: true, changeYear: true, dateFormat: "M d yy"
        });
        
        $('.state').select2({
            placeholder : 'Select location'
        });
        
        $('.apptype').select2({
            placeholder : 'Select application type'
        });
    });  
</script>
