@model List<Permit>

@{
    ViewBag.Title = "All Permit(s)"; 
    int count = 0;
    
    var now = DateTime.UtcNow.AddHours(1);
}

<style>
    .filter-container{
        display: flex;
        flex-direction: row;
        width: 500px;
        margin: 2rem;
    }

    .filter-wrapper{
        display: flex;
        justify-content: right;
    }
</style>

<center>
    <div class="card" style="margin-top: 2em; padding: 0.5em;">
        <h2 class="btn btn-success col-md-3">
            Permit(s)
        </h2>

        <div class="filter-wrapper">
            @using (Html.BeginForm("FilterPermit", "Admin", FormMethod.Post))
            {
                <div class="filter-container">
                    <input class="form-control" type="datetime-local" name="start" id="startDate" />
                    <input class="form-control" type="datetime-local" name="end" id="endDate" />

                    <input type="submit" value="Filter" class="btn btn-success" />
                        @*<div id="reportrange" class="pull-right " style="background: #fff; cursor: pointer; padding: 7px 10px 6px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>January 01, 2016 - Decenmber 31, 2016</span> <b class="caret"></b>
                        </div> *@
                </div>
            }
        </div>
        <table class="table table-bordered dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    Permit Number
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Issue Date
                </th>
                <th>
                    Expiry Date
                </th>
                <th></th>
            </tr>
            </thead>
           
            @foreach (var item in Model.OrderByDescending(x => x.DateIssued))
            {
                var check = item.ExpiryDate.AddDays(-30);
                string color = string.Empty;

                if (item.ExpiryDate < now)
                {
                    color = "danger";
                }
                else if (check <= now)
                {
                    color = "warning";
                }
                count++;

                <tr class="@color">
                    <td>@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermitNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.User.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseName)
                    </td>
                    <td>
                        @item.DateIssued.ToLongDateString()
                    </td>
                    <td>
                        @item.ExpiryDate.ToLongDateString()
                    </td>
                    <td >
                        <a href="/Application/License/@item.ApplicationId?type=view" target="_blank" class="btn btn-sm btn-primary">Preview</a>
                        @if (!User.IsInRole("Company") && !User.IsInRole("ICT") && !User.IsInRole("Support"))
                        {
                            <a href="/Application/License/@item.ApplicationId?type=print" target="_blank" class="btn btn-sm btn-success">Print</a>
                        }
                        @if (item.DateIssued > new DateTime(2021, 10, 19, 23, 59, 59) && item.PermitNumber.StartsWith("DPR"))
                        {
                            <a href="/Admin/RecreatePermitNo/@item.Id" class="btn btn-sm btn-warning">Re-post</a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</center>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dataTable').dataTable({ dom: 'Blfrtip'});
    });
</script>