@model List<Application>

@{
    int count = 0;
    
}
<div>
    <div class="card" style="border-radius: 5px;; margin-top: 2em; padding: 1em;">
            
            <h2 class="btn btn-success col-md-3"><b>Application(s) on @ViewData["Title"]</b></h2>
            @if (ViewBag.Message != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        @ViewBag.Message
                    </div>
                </div>
            }
            <table id="example" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Company Name</th>
                    <th>Reference</th>
                    <th>Terminal</th>
                    <th>Product</th>
                    <th>Status</th>
                    <th>Date Applied</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var app in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@app.User.Company.Name</td>
                        <td>@app.Reference</td>
                        <td>@app.Terminal.Name</td>
                        <td>@app.Product.Name</td>
                        <td>@app.Status</td>
                        <td>@app.DateView</td>
                        <td><a href="/Application/ApplicationDetail/@app.Id" class="btn btn-sm btn-info">View</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
</div>