@*@model IEnumerable<GOTEX.Core.BusinessObjects.LeaveRequest>*@
@model LeaveRequestsViewModel

@{
    ViewData["Title"] = "LeaveRequest";
    int count = 0;
}

<style>
    .approved-status{
        padding: 0.5rem 1rem;
        background-color: limegreen;
        color: white;
        width: fit-content;
        border-radius: 10px;
    }

    .disapproved-status {
        padding: 0.5rem 1rem;
        background-color: orangered;
        color: white;
        width: fit-content;
        border-radius: 10px;
    }

    .title{
        display: flex;
        justify-content: center;
        padding: 2rem;
        width: 100%;
    }

    .title h1{
        width: fit-content;
        padding: 1rem 2rem;
        background-color: royalblue;
        border-radius: 10px;
        color: white;
        font-family: 'Sans Serif Collection';
    }

    .view
    {
        padding: 0.5rem 1rem;
        color: white;
        background-color: dodgerblue;
        border-radius: 3px;
    }
</style>

<div class="title">
    <h1>LEAVE REQUEST APPLICATIONS</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Staff Name
            </th>
            <th>
                Staff Standing-In
            </th>
            <th>
                Date Created
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Approval Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.LeaveRequests) {
                count++;

                <tr>
                <td>
                    @count
                </td>
                <td>
                    @item.Leave.Staff.FullName
                </td>
                <td>
                    @item.Leave.ActingStaff.FullName
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>

                    @if(item.IsApproved == true)
                    {
                       <p class="approved-status">Approved</p>   
                    }
                    else
                    {
                       <p class="disapproved-status">Not Approved</p>
                    }
                </td>
                <td>
                    @item.DateApproved
                </td>
                <td>
                    <a class="view" asp-controller="Leave" asp-action="ViewRequest" asp-route-id="@item.Id">View Request</a>
                </td>
            </tr>
    }
    </tbody>
</table>
