@*@model IEnumerable<GOTEX.Core.BusinessObjects.LeaveRequest>*@
@model LeaveRequestsViewModel

@{
    ViewData["Title"] = "LeaveRequest";
    int count = 0;
}

<h1>LeaveRequest</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Staff Name
            </th>
            <th>
                Staff Standing-In
            </th>
            <th>
                Date Created
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Approval Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
            count++;

            <tr>
            <td>
                @count
            </td>
            <td>
                @item.Leave.Staff.FullName
            </td>
            <td>
                @item.Leave.ActingStaff.FullName
            </td>
            <td>
                @item.DateCreated
            </td>
            <td>
                @item.IsApproved == true? "Yes": "No"
            </td>
            <td>
                @item.DateApproved
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View Request</a> |
            </td>
        </tr>
}
    </tbody>
</table>
